[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Mats Julius Funke
	email = 125814808+matsjfunke@users.noreply.github.com
