[user]
	name = Mats Julius Funke
	email = 125814808+matsjfunke@users.noreply.github.com
	signingkey = ~/.ssh/github_signing
[core]
	editor = nvim
  pager = delta
[gpg]
	format = ssh
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[column] 
  ui = auto
[color]
	ui = auto
[pull]
	rebase = true
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[fetch]
	prune = true
[push]
	autoSetupRemote = true
[tag]
  sort = version:refname
[branch]
  sort = -committerdate
[help]
  autocorrect = prompt
[delta]
  line-numbers = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[advice]
	skippedCherryPicks = false
[alias]
	staash = stash --all
	lg = log --oneline --graph --decorate --all
	uncommit = reset --soft HEAD~1
	lfg = "!f() { git add . && git commit -m \"$1\" && git push; }; f"
	co = checkout
  sw = switch
  swc = switch -c
  st = status -s
  p = pull
  ub = pull origin main
	pr = "!f() { \n  gh pr create --title \"$1\" --body \"\" --fill;\n}; f"
