[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Mats Julius Funke
	email = 125814808+matsjfunke@users.noreply.github.com
	signingkey = ~/.ssh/github_signing
[core]
	editor = nvim
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = true
[alias]
	staash = stash --all
	lg = log --oneline --graph --decorate --all
	uncommit = reset --soft HEAD~1
	lfg = "!f() { git add . && git commit -m \"$1\" && git push; }; f"
	co = checkout
  sw = switch
  swc = switch -c
  st = status -s
  p = pull
[gpg]
	format = ssh
[core]
  pager = delta
[delta]
  line-numbers = true
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
